<div class="wrapper home">
<h2>Zalogowany uzytkownik to : {{name}}</h3>
<div class="Alist">
     <a href="/filemanager" class="block">
        File manager</a>
<a href="/login" class="block">
        Zaloguj</a>
        <a href="/register" class="block">
        Zarejestruj</a>
 <a href="/logout" class="block">
        Wyloguj</a>
</div>

<p id="mainTiomer">Zostaniesz wylogowany za:<span id="timer">{{age}}</span></p>
</div>

<script>
    
        document.querySelector('.nav').style.display = 'none'
       const timer= document.getElementById('timer')
       const mainTimer= document.getElementById('mainTiomer')
        let seconds=Number(timer.innerText)
        let interval=setInterval(()=>{seconds--;
        timer.innerText=`${seconds}`;

        if(seconds==0) {clearInterval(interval)    ;
        setTimeout(()=>{window.location.reload()},1000)
            mainTimer.innerText='Zostałeś wylogowany';
}
        },1000)
</script>