<div class="mainCont">
    <div class="sidePanel">
        <p>multiupload</p>
    </div>
    <div class="centerPanel">
        <form enctype="multipart/form-data" method="POST" action="/handleUpload"><input type="file" multiple required
                name="upload"  >
            <button type="submit">Submit</button>
        </form>
    </div>
</div>