* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  height: 70px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    35deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 119, 1) 34%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 10px;
  display: flex;
  align-items: center;
}

nav > a {
  margin: 20px;
  color: white;
  font-weight: 600;
}

.mainCont {
  position: absolute;
  top: 70px;
  display: flex;
  height: 90%;
  width: 99%;
  margin-top: 10px;
}

.sidePanel {
  width: 200px;
  height: 100%;
  text-align: center;
  border: 2px solid lightgray;
  border-radius: 10px;
}

.sidePanelBtn,
.sidePanelForm {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin: 2px;
  background: radial-gradient(
    circle,
    rgba(76, 156, 246, 1) 0%,
    rgba(0, 21, 226, 0.3186046511627907) 87%
  );
}

.sidePanelForm {
  width: 50%;
  text-align: center;
}

#select {
  color: transparent;
}

#select::-webkit-file-upload-button {
  visibility: hidden;
}

#select::before {
  content: "Wybierz pliki";
  color: black;
  display: inline-block;
  background-color: lightgray;
  border-radius: 5px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-size: 10pt;
}

#navigation {
  width: 100%;
}

#select:active {
  outline: 0;
}

dialog {
  width: 200px;
  height: 100px;
  border: 10px;
  position: absolute;
  top: 40vh;
  left: 40vw;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(
    35deg,
    rgba(9, 9, 119, 1) 16%,
    rgba(52, 79, 162, 1) 51%,
    rgba(0, 212, 255, 1) 95%
  );
}

#select:active::before {
  background-color: lightgray;
}

.sidePanelBtn > form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 10%;
}

#sub {
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
}

.sidePanel > p {
  margin-top: 20px;
  color: darkgray;
  font-weight: 600;
}

a {
  color: white;
  font-weight: 600;
}

th {
  background-color: #8080ff;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  background-color: #90909b;
}

table {
  width: 100%;
}

.centerPanel {
  width: 100%;
}

img {
  width: 50px;
}

.blue {
  color: #0000b3;
}

.fileItem {
  padding: 10px;
  margin: 10px;
  width: auto;
  text-align: center;
  background: lightgray;
  border-radius: 10px;
  transition: all 0.3s;
}

.fileItem:hover {
  transform: scale(1.1);
}

#dataList {
  display: flex;
  flex-wrap: wrap;
}

#navigation > a {
  color: black;
}

.deleteBtn {
  background-color: none;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.deleteBtn > img {
  width: 20px;
}

.deleteBtn:hover {
  transform: scale(1.1);
}

#codeEditor,
#lineCounter {
  font-family: lucida console, courier new, courier, monospace;
  margin: 0;
  padding: 10px 0;
  height: 75vh;
  border-radius: 0;
  resize: none;
  line-height: 1.2;
  outline: none;

  box-sizing: border-box;
}
#lineCounter:focus-visible,
#codeEditor:focus-visible {
  outline: none;
}
#lineCounter {
  display: flex;
  height: 100%;
  border-color: transparent;
  overflow-y: hidden;
  text-align: right;
  box-shadow: none;
  /* color: #707070;
  background-color: #d8d8d8; */
  position: absolute;
  width: 1.9rem;
  /* background-color: #3e3d32;
  border-color: #3e3d32; */
  /* color: #928869; */
}
#codeEditor {
  height: 100%;
  padding-left: calc(1.9rem + 5px);
  width: 100%;
  /* background-color: #272822;
  border-color: #272822;
  color: #ffffff; */
}
.color-violet-editor {
  background-color: #2b0232;
  color: white;
}
.color-violet-line {
  background-color: #19011e;
  color: rgb(183, 183, 183);
}
.color-grey-editor {
  background-color: #353535;
  color: white;
}
.color-grey-line {
  background-color: #161616;
  color: rgb(183, 183, 183);
}
.color-contrast-editor {
  background-color: #131313;
  color: rgb(64, 202, 5);
}
.color-contrast-line {
  background-color: #000000;
  color: rgb(246, 8, 8);
}
.color-blue-editor {
  background-color: #000a2b;
  color: rgb(182, 202, 5);
}
.color-blue-line {
  background-color: #01011d;
  color: rgb(246, 143, 8);
}
